@use "../utils/variables" as v;
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: v.$clr-bg-main;
}

.footer1 {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
}

.footer-contact h1 {
  margin-bottom: 28px;
}

.footer-contact p {
  margin-top: 0;
  margin-bottom: 12px;
  color: v.$bg-color;
}
.subscription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 94px;
  .subscription-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: v.$bg-color;
  }
  .subscription-form {
    display: flex;
    align-items: center;
  }
}
.subscription input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  color: v.$bg-color;
  outline: none;
  &:focus {
    border-color: v.$primary-color;
    outline: none;
  }
}
.subscription button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  border: 1px solid transparent;
  background-color: v.$primary-color;
  color: v.$bg-color;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active {
    background-color: #1976d2;
    color: v.$bg-color;
  }
  & svg {
    fill: currentColor;
  }
}
.adress {
  text-align: left;
  margin-top: 0;
  margin-bottom: 12px;
  color: v.$bg-color;
}

.contact-last {
  text-decoration: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  color: #ffffff60;
}

.aside {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: v.$bg-color;
}

@media screen and (max-width: 1599px) {
  .footer1 {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  .footer-contact,
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contact .title {
    margin-bottom: 28px;
  }
  .subscription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    gap: 20px;
    margin: 0;
  }
  .subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 20px;
    min-width: 450px;
  }
  .subscription input {
    width: 450px;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .footer1 {
    gap: 58px 164px;
    padding: 0 15px;
  }
  .footer-contact,
  .footer-social {
    width: auto;
    margin: 0;
  }

  .subscription {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contact {
    margin-bottom: 60px;
    margin-right: 0;
  }
}
