$primary-color:#2196f3;
$text-color: #212121;
$text-dark: #757575;
$bg-color:#ffffff;
$clr-bg-main:#2f303a;

$main-font: 'Roboto', sans-serif;
$title-font: "Raleway", sans-serif;

$container-width: 1230px;